<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WithMe</title>
	<link rel="icon" href="image/logo.jpeg">
	<link rel="stylesheet" type="text/css" href="{{url_for_static}}/style.css">
</head>

<body>

	<!-- Header section -->
<center>
	<header>
		<img src="{{url_for_static}}/image/logo.jpeg" width="120" height="100">
		<h1>WithMe</h1>
        <h2>welcome to your sweet home 🦮</h2>
	</header>
</center>

	<!-- Main section -->
<main>
	<!-- About -->
<h2>About</h2>
<p> 
	  Millions of people facing health adversities need campanionship but cannot safely or practically care for a live animal companion.That's why we launched WithMe.

	  We create robotic animals that transform the daily lives of individuals, families and communities facing health adversities.

	  Our robotic pet helps people who has mental issue or need accompanies by sensing and responding to the user’s emotion accurately.
</p>
	<!-- Customer -->
<h2 right:100 px>Customer</h2>
<center>
<table style = "border-collapse: separate; border-spacing: 200px 10px;">
<tr>
	<td><h4><a href="https://www.alz.org/alzheimers-dementia/what-is-alzheimers">Alzheimer's disease patients</a></h4></td>
	<td><h4><a href="https://www.autismspeaks.org/what-autism">Autism's disease patients</a></h4></td>
</tr>
<tr>
	<td><img src="{{url_for_static}}/image/Alzheimer.jpeg" width="350" height="250"></td>
	<td><img src="{{url_for_static}}/image/Autism.jpeg" width="350" height="250"></td>
</tr>
<tr>
	<td>
		<ul>
			<li><h4>Alzheimer</h4></li>
			<p>Alzheimer's disease (AD) is a neurodegenerative disease that usually starts slowly and progressively worsens.It is the cause of 60–70% of cases of dementia.</p>
		</ul>
	</td>
	<td>
		<ul>
			<li><h4>Autism</h4></li>
			<p>Autism, or autism spectrum disorder (ASD), refers to a broad range of conditions characterized by challenges with social skills, repetitive behaviors, speech and nonverbal communication.</p>
		</ul>
	</td>
</tr>
</table>
</center>
	<!-- Product -->
<h2>Product</h2>
<center>
<table style = "border-collapse: separate; border-spacing: 125px 10px;">
<tr>
	<td><h3><a href="https://www.macrumors.com/roundup/apple-watch/">Smart Watch</a></h3></td>
	<td><h3><a href="https://tombot.com/">Robotic Puppy</a></h3></td>
	<td><h3><a href="https://www.bbc.co.uk/news/technology-35310200">Robotic Kitty</a></h3></td>
</tr>
<tr>
<td><img src="{{url_for_static}}/image/smartWatch.png" width="200" height="175"></td>
<td><img src="{{url_for_static}}/image/Puppy.png" width="200" height="175"></td>
<td><img src="{{url_for_static}}/image/Kitty.png" width="225" height="175"></td>
</tr>
<tr>
	<td>
		<ul>
			<li><h3>Smart Watch</h3></li>
			<p>Smart watches collect data of owner's emotional state like heart beats and blood pressure, then transfer to software.The software analysis owner‘s mood index and send instructions to the robotic pet.</p>
		</ul>
	</td>
	<td>
		<ul>
			<li><h3>Robotic Puppy</h3></li>
			<p>Pets collect sounds and interaction data, then transfer to software.The pet comfort its owner based on instructions.</p>
		</ul>
	</td>
	<td>
		<ul>
			<li><h3>Robotic Kitty</h3></li>
			<p>Pets collect sounds and interaction data, then transfer to software.The pet comfort its owner based on instructions.</p>
		</ul>
	</td>
</tr>
</table>
</center>
	<!-- Members -->
<h2>Members</h2>
<center>
<table style = "border-collapse: separate; border-spacing: 125px 10px;">
<tr>
	<td><h3>Zoey Cheng</h3></td>
	<td><h3><a href="https://kirinwang1125.github.io/Kirinspace/">Kirin Wang</a></h3></td>
	<td><h3><a href="https://weixuanxu2091035.github.io/DDP-IMA-2091035/">Weixuan Xu</a></h3></td>
</tr>
<tr>
<td><img src="{{url_for_static}}/image/zoey.jpeg" width="175" height="175"></td>
<td><img src="{{url_for_static}}/image/Kirin.jpeg" width="175" height="175"></td>
<td><img src="{{url_for_static}}/image/weixuan.jpeg" width="175" height="175"></td>
</tr>
</table>
</center>
</main>

	<!-- Footer section -->
<footer>
  <p>Posted by: Zoey Cheng</p>
  <p>Contact information: <a href="mailto:email@sample.com?subject = subject text">u2124620@live.warwick.ac.uk</a>.</p>
</footer>

</body>
</html>
